/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/grid/page.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_grid__XW3ll {
  height: 100vh;
  transition: 500ms;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  background: crimson;
  width: 500px;
}

:where(.page_left__chcJM, .page_center__m829v, .page_right__yCwO_) {
  background: navajowhite;
  transition: 300ms;
}

:where(.page_left__chcJM, .page_center__m829v, .page_right__yCwO_):hover {
  background: crimson;
}

.page_grid__XW3ll:has(.page_left__chcJM:hover) {
  grid-template-columns: 2fr 0.5fr 0.5fr;
}

.page_grid__XW3ll:has(.page_center__m829v:hover) {
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

.page_grid__XW3ll:has(.page_right__yCwO_:hover) {
  grid-template-columns: 0.5fr 0.5fr 2fr;
}
